@CHARSET "ISO-8859-1";

body{
	height:100%;
	background-color: #F0FFF0;
	border: solid;
	border-color: cyan;
}

h2{
	width: 200px;
	text-align: center;
	margin-left: 45%;
	margin-top: 100px;
	background-color: #FFDEAD;
}

#tbformulario{
	margin-left: 750px;
	margin-top: 100px;	
	width: 800px;
	height: 200px;	
}

#titulotabela{
    text-align: center;
    font-size: 30px;
    padding-bottom: 50px;
} 

#campotb{
	font-size: 20px;	
	padding-top: 20px;
}

input[type="submit"]{
	width: 100px;
	height: 40px;
}